<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Link to Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Card Guessing Game</title>
</head>
<body>
    <!-- Decorative Elements -->
    <div class="ðŸ¤š">
        <div class="ðŸŒ´"></div>
        <div class="ðŸ‘"></div>
        <div class="ðŸ‘‰"></div>
        <div class="ðŸ‘‰"></div>
        <div class="ðŸ‘‰"></div>
        <div class="ðŸ‘‰"></div>
    </div>
    <h1>Card Guessing Game</h1>
    <button id="reset-button">Reset Game</button>
    <div id="timer">Time: 00:00:00</div>

    <div id="container">
        <div id="game-board">
            <!-- Dynamically Generated Cards will go here -->
        </div>

        <div id="instructions">
            <h2>How to Play ðŸ•¹:</h2>
            <ol>
                <li>Click on any two cards to flip them over and reveal the letters on their back sides.</li>
                <li>If the letters on the two flipped cards match, those cards will remain face up, indicating they have been successfully matched.</li>
                <li>If the letters do not match, the cards will flip back over to their face-down position after a short delay.</li>
                <li>Continue flipping pairs of cards until all matching pairs have been found.</li>
            </ol>
            <h2>Rules ðŸš€:</h2>
            <ul>
                <li>Only two cards can be flipped at a time.</li>
                <li>If two flipped cards do not match, they will be flipped back over after 1 second.</li>
                <li>The game ends when all pairs have been successfully matched.</li>
            </ul>
            <h2>Tips ðŸ’¡:</h2>
            <ul>
                <li>Try to remember the positions and letters of previously flipped cards to find matches more efficiently.</li>
                <li>Start by flipping over different pairs each time to gain more information about the card positions.</li>
            </ul>
            <h2>Winning the Game ðŸ¥‡:</h2>
            <p>You win the game when you have successfully matched all pairs of cards, and all cards are face up.</p>
            <p>Enjoy playing the memory game and challenge yourself to complete it as quickly as possible!</p>
        </div>
    </div>

    <div id="popup" style="display:none;">
        <h2>Congratulations! You won!</h2>
        <form action="/scores" method="POST">
            <label for="username">Enter your name: </label>
            <input type="text" id="username" name="username" required>
            <input type="hidden" id="time" name="time">
            <button type="submit">Submit</button>
        </form>
    </div>

    

    <script src="/js/game.js"></script>
</body>
</html>
